/*body {
    width: 60%;
    margin: 0 auto;
    background-color: #0c0c0c;
    color: #aaa;
}
*/

.verse {
  display: inline;
  line-height: 150%;
  overflow-wrap: break-word;
}

.verse-text {
  overflow-wrap: break-word;
}

.poetic .verse-text::after {
  content: "\A";
  white-space: pre;
}

.chapter:not(h2) {
  font-size: 1.4em;
}

.poetic {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
}

.verse-lines {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h2 {
  color: dodgerblue;
}

.first-verse {
  transform: translate(-16px, 0);
}